body{
    /*background: linear-gradient(#e66465, #9198e5);*/
    background: linear-gradient( #2464ac ,#0c4c8c);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
}
#main-content{
    height:auto;
    margin: 0 auto;
    padding-top:3rem;
    padding-bottom:3rem;
    margin-top: 10rem;
}
#iz{
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
}
#logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#der{
    display: flex;
    text-align: justify;
    align-content: center;
    align-items: center;
}

footer{
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
}
#copyright{
    padding:3rem;
    color: black;
}